body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  font-size: 20px;
}

h1 {
  color: #333;
  text-align: center;
  width: 80%;
}

#searchInput {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 20px;
  width: 80%;
  font-weight: 600;
  margin-top: 0;
}

li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.highlight {
  color: #12a3e1;
  text-decoration: underline;
  padding: 2px;
  border-radius: 2px;
}

/* Github corner */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;

}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

.github-corner svg {
  fill: #70b7fd;
  color: #fff;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

@media (max-width: 500px) {
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  .github-corner:hover .octo-arm {
    animation: none;
  }
}